<div class="container">
  <div class="row mt-5">
    <div class="col-6 mx-auto px-3">
      <div class="card">
        <div class="card-header">
          <h5 class="fw-bolder">Post Edit</h5>
        </div>
        <div class="card-body">
          <%= render "form", post: @post, categories: @categories %>
        </div>
      </div>
    </div>
  </div>
</div>
